- page_title @snippet.title, "代码片段"

= render 'shared/snippets/header'

%article.file-holder.snippet-file-content
  .file-title
    = blob_icon 0, @snippet.file_name
    = @snippet.file_name
    .file-actions
      = clipboard_button(clipboard_target: ".blob-content[data-blob-id='#{@snippet.id}']", class: "btn btn-sm")
      = link_to '原文件', raw_snippet_path(@snippet), class: "btn btn-sm", target: "_blank", rel: 'noopener noreferrer'
      = link_to '下载', download_snippet_path(@snippet), class: "btn btn-sm"
  = render 'shared/snippets/blob'

= render 'award_emoji/awards_block', awardable: @snippet, inline: true
